<!doctype html>
<html>
<head>
  <title>VueTodo</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div id="app">
    <div>
      <!-- input for adding new todo entries -->
      <input v-model="new_todo" type="text" placeholder="Add an item to the list">
      <button @click="add_todo">Add Todo</button>
    </div>
    <div>
      <ul>
        <!-- list todo entries here -->
        <li v-for="todo in todos">{{ todo }}</li>
      </ul>
    </div>
  </div>

  <script src="https://unpkg.com/vue@2.3.4"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js"></script> -->
  <script src="app.js"></script>
</body>
</html>
